doctype
html
  head
    title ccorgs.com
    script(src='http://fb.me/react-0.4.1.min.js')
    script(src='/vendor/require.js')
    script(src='/js/main.js')
    link(href='http://fonts.googleapis.com/css?family=Roboto',rel='stylesheet',type='text/css')
    link(href='/css/ccorgs.css', type='text/css', rel='stylesheet')
  body
    header#page-header
    section#content
    aside#aside
    footer#page-footer
    if loadPage
      | <script type='text/javascript'>
      !=  'CCorgs.loadPage("'+jsView+'",'+JSON.stringify(pageData)+');'
      | </script>
